.loading-spinner{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.144);
  padding: 25px;
}

mat-toolbar{
display: flex;
justify-content: space-between;
padding-right: 30px;
}

.add{
  background-color: rgba(7, 199, 252, 0.803);
}

mat-card{
 padding: 0 60px;
}

.mat-column-name {
  padding-right: 24px;
  text-align: left;
  font-size: 16px;
}

.mat-column-category {
  text-align: left;
  font-size: 16px;
}

.mat-column-actions {
  width: 110px;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  padding-right: 25px;
}



@media screen and (max-width: 700px) {
	mat-card{
		padding: 0 25px;

	}
}

